---
---
:root {
	--text-color: black;
	--link-color: #333;
	--link-hover-color: #555;
	--background-color: #E0E0E0;
	--section-background-color: #EAEAEA;
	--envelope-background-color: white;
	--accent-color: #F17BA7;
	--hover-accent-color: hsl(338, 81%, 81%);
	--warning-color: hsl(51, 81%, 71%);
	--item-background-color: white;
	--item-hover-background-color: white;
	--box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
@media (prefers-color-scheme: dark) {	
	:root {
		--text-color: white;
		--link-color: #CCC;
		--link-hover-color: #EEE;
		--background-color: black;
		--section-background-color: #2C2C2C;
		--envelope-background-color: #3C3C3C;
		--accent-color: #954C68;
		--hover-accent-color: hsl(337, 32%, 50%);
		--warning-color: hsl(52, 38%, 27%);
		--item-background-color: #444;
		--item-hover-background-color: #555;
		--box-shadow: 0 3px 6px 0 rgba(0,0,0,0.35);
	}
	#stamp {
		filter: brightness(63%) saturate(92%);
	}
	footer img {
		filter: drop-shadow(0.7px 0.7px white);
	}
	footer img:hover {
		filter: brightness(1.2) drop-shadow(0.7px 0.7px #fff) drop-shadow(0.7px 0.7px 2px #fff4) !important;
	}
}
@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}
* {
	position: relative;
}
body {
	accent-color: var(--accent-color);
	color: var(--text-color);
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}
body, textarea {
	font-family: "Times New Roman", Times, "FreeSerif", "Liberation Serif", serif;
}
[lang="en"] [lang]:not([lang="en"]) {
	font-style: italic;
}
header {
	padding-top: 10px;
	>* {
		align-items: center;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	a {
		text-decoration: none;
	}
	h1 {
		color: var(--text-color);
		display: inline-block;
		letter-spacing: 3px;
		margin: 0;
		padding: 17px;
	}
}
h1 {
	font-size: 60px;
	line-height: 60px;
}
header, footer {
	text-align: center;
}
nav {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	margin: 15px auto 5px;
	max-width: 720px;
	text-align: center;
	width: 100%;

	ul {
		display: inline-flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			flex: 1 0 auto;
			margin: 10px 20px;
		}
	}

	a:not(:hover) {
		text-decoration: none;
	}
}
main {
	flex-grow: 1;
	padding-bottom: 2vw;
}
section, article, details, #envelope {
	background-color: var(--section-background-color);
	box-shadow: var(--box-shadow);
	color: var(--text-color);
}
section, article, details {
	max-width: 700px;
	margin: 15px auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	img {
		max-width: 700px;
	}
}
.warning {
	background-color: var(--warning-color);
	box-shadow: var(--box-shadow);
	padding: 5px;
}
.warning::before {
	content: "⚠";
}
h2, h2 a, h3, h4, h5, h6, summary {
	font-weight: bold;
	margin: 0 0 15px 0;
}
h2, summary {
	font-size: 24px;
}
summary {
	cursor: pointer;
}
details:not([open])>summary {
	margin: 0;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
a {
	color: var(--link-color);
}
a:hover {
	color: var(--link-hover-color);
}
#preset {
	width: 100px;
	margin-right: 20px;
}
#preset~div {
	display: inline-block;
}
input[type="number"] {
	width: 60px;
}
form > * {
	display: block;
}
label:not(:first-child) {
	margin-top: 10px;
}
#envelope {
	align-self: center;
	background-color: var(--envelope-background-color);
	margin: 10px;
	width: 9.5in;
	height: 4.125in;
	max-width: 98vw;
	transition: all 0.3s ease;
}
textarea {
	background-color: var(--item-background-color);
	border: none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	color: var(--text-color);
	display: block;
	font-size: 12pt;
	margin: 10px;
	max-width: 88vw;
	padding: 5px;
	position: absolute;
	width: 300px;
	z-index: 2;
}
#return-address {
	@media (max-width: 429px) {
		margin: 10px auto;
		left: 0;
		right: 0;
	}
}
#stamp {
	@media (max-width: 429px) {
		display: none;
	}
	float: right;
	width: 100px;
	height: 100px;
	margin: 10px;
	transform: rotate(2deg);
}
#addresses {
	margin: auto;
	left: calc(42% - 5px);
	top: unquote("min(calc(55% - 5px), (100vw - 330px) / 2)");
}
@media (max-width: 549px) {
	textarea {
		resize: none;
	}
	#addresses {
		left: 0;
		right: 0;
		transition: left 1s ease;
		top: 110px;
	}
}
button {
	background-color: var(--accent-color);
	border: none;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
	color: var(--text-color);
	cursor: pointer;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.25px;
	padding: 10px 22px;
	text-transform: uppercase;
	z-index: 10;
}
button:hover {
	background-color: var(--hover-accent-color);
}
button:active {
	background-color: var(--accent-color);
	box-shadow: none;
}
li:not(:last-child) {
	margin-bottom: 8px;
}
footer {
	align-items: center;
	background-color: var(--section-background-color);
	display: flex;
	justify-content: center;
	> * {
		padding: 20px;
	}
	img:hover {
		filter: brightness(2.4);
	}
}
